[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
edition = "2024"
license = "MIT"
repository = "https://github.com/miko-misa/typmark"
rust-version = "1.89"

[workspace.dependencies]
# 後でここに共通依存を集約（複数クレートでバージョンを揃える）
